<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
  <title>webuildweb</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='img/favicon.png') }}" rel="icon">
  <link href="{{ url_for('static', filename='img/apple-touch-icon.png" rel="apple-touch-icon') }}">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{{ url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">


  <!-- Libraries CSS Files -->
  <link href="{{ url_for('static', filename='lib/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='lib/animate/animate.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='lib/ionicons/css/ionicons.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='lib/lightbox/css/lightbox.min.css') }}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">

</head>

<body>

  <!--==========================
  Header
  ============================-->
  <header id="header" class="fixed-top">
    <div class="container">

      <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an image logo -->
        <h1 class="text-light"><a href="#header"><span>WeBuildWeb</span></a></h1>
        <!--<a href="#intro" class="scrollto"><img src="img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li class="active"><a href="#intro">Home</a></li>
          <li><a href="#about">About Us</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#team">Team</a></li>
        </ul>
      </nav><!-- .main-nav -->
      
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
<section id="intro" class="clearfix">
    <div class="container">

      <div class="intro-img">
        <img src="{{ url_for('static', filename='img/intro-img.svg') }}" alt="" class="img-fluid">
      </div>

      <div class="intro-info">
        <h2>We Build<br><span>Website for you</span><br>at lowest possible COST !</h2><br>
        <div>
          <a href="#about" class="btn-get-started scrollto">Let's Chat</a>
          <a href="#services" class="btn-services scrollto">Our Services</a>
        </div>
      </div>

    </div>
</section><!-- #intro -->

  <main id="main">


    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container">

        <header class="section-header">
          <h3>About Us</h3><br>
          
        </header>

        <div class="row about-container">

          <div class="col-lg-6 content order-lg-1 order-2"><br>
            <p>
              We DESIGN, DEVELOPE and HOST websites to help brands make a strong online presence at LOWEST PRICE.
            </p>
            <p>
              WeBuildWeb.in is a web developemnet Agency based in Vadodara; dedicated to finding innovative web solutions for our clients at LOWEST possible costs .
            </p>
             <p>
              We understand the important of a brand's online presence. We get to know them, then design and develope website for them and host it online and make sure it's always up.
            </p>

          </div>

          <div class="col-lg-4 background order-lg-2 order-1 wow fadeInUp">
            <img src="{{ url_for('static', filename='img/about-img.svg') }}" class="img-fluid" alt="" >
          </div>
        </div>

      </div>
    </section><!-- #about -->

    
    <!-- start pricing area -->
  <section id="services" class="section-bg">
  <div id="pricing" class="pricing-area area-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline text-center">
            <h2>Pricing Table</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="pri_table_list">
            <h3>Free <br/> <span>Consultation</span></h3>
            <ol>
              <li class="check">end to end process</li>
              <li class="check">where to start</li>
              <li class="check">how to start</li>
              <li class="check">how much will it cost</li>
            </ol>
            <button>Let's Chat</button>
          </div><br>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="pri_table_list active">
            <span class="saleon">top sale</span>
            <h3>standard <br/> <span>₹ 2999/-</span></h3>
            <ol>
              <li class="check">Understanding your business</li>
              <li class="check">strategy for website</li>
              <li class="check">Web designing</li>
              <li class="check">Web development</li>
              <li class="check">Content Creation</li>
              <li class="check">Hosting for an year</li>
              <li class="check">Analytics setup</li>
              <li class="check">Maintance for an year</li>
              <li class="check">Support unlimited</li>
            </ol>
            <button>Let's Chat</button>
          </div>
        </div><br>

      </div>
    </div>
  </div>
  </section>
  <!-- End pricing table area -->



    <!--==========================
      Why Us Section
    ============================-->
    <section id="why-us" class="wow fadeIn">
      <header class="section-header">
          <h3>Our process</h3>
     </header>

      <div class="row">
        <div class="col-md-1 col-sm-2 col-xs-2">
          <div class="icon"><i class="ion-ios-bookmarks-outline" style="color: #fff;"></i></div>
          <h4 class="title"><a href="">Information Gathering</a></h4>
        </div>
        <div class="arrow-right"></div>
        <div class="col-md-1 col-sm-2 col-xs-2">
          <div class="icon"><i class="ion-ios-paper-outline" style="color: #ff689b;"></i></div>
          <h4 class="title"><a href="">Planning</a></h4>
        </div>
        <div class="arrow-right"></div>
        <div class="col-md-1 col-sm-2 col-xs-2">
          <div class="icon"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>
          <h4 class="title"><a href="">Design</a></h4>
        </div>
        <div class="arrow-right"></div>
        <div class="col-md-1 col-sm-2 col-xs-2">
          <div class="icon"><i class="ion-ios-world-outline" style="color: #ff689b;"></i></div>
          <h4 class="title"><a href="">Development</a></h4>
        </div>
        <div class="arrow-right"></div>
        <div class="col-md-1 col-sm-2 col-xs-2">
          <div class="icon"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>
          <h4 class="title"><a href="">Testing and Delivery</a></h4>
        </div>
        <div class="arrow-right"></div>
        <div class="col-md-1 col-sm-2 col-xs-2">
          <div class="icon"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>
          <h4 class="title"><a href="">Maintenance</a></h4>
        </div>
        <div class="arrow-right"></div>
      </div>

    
    </section>



   <!--==========================
      Clients Section
    ============================-->
    <section id="testimonials" class="section-bg">
      <div class="container">

        <header class="section-header">
          <h3>Testimonials</h3>
        </header>

        <div class="row justify-content-center">
          <div class="col-lg-8">

            <div class="owl-carousel testimonials-carousel wow fadeInUp">
    
              <div class="testimonial-item">
                <img src="{{ url_for('static', filename='img/testimonial-1.jpg') }}" class="testimonial-img" alt="">
                <h3>Saul Goodman</h3>
                <h4>Ceo &amp; Founder</h4>
                <p>
                  Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                </p>
              </div>
    
              <div class="testimonial-item">
                <img src="{{ url_for('static', filename='img/testimonial-2.jpg') }}" class="testimonial-img" alt="">
                <h3>Sara Wilsson</h3>
                <h4>Designer</h4>
                <p>
                  Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                </p>
              </div>
    
              <div class="testimonial-item">
                <img src="{{ url_for('static', filename='img/testimonial-3.jpg') }}" class="testimonial-img" alt="">
                <h3>Jena Karlis</h3>
                <h4>Store Owner</h4>
                <p>
                  Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                </p>
              </div>
    
              <div class="testimonial-item">
                <img src="{{ url_for('static', filename='img/testimonial-4.jpg') }}" class="testimonial-img" alt="">
                <h3>Matt Brandon</h3>
                <h4>Freelancer</h4>
                <p>
                  Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                </p>
              </div>
    
              <div class="testimonial-item">
                <img src="{{ url_for('static', filename='img/testimonial-5.jpg') }}" class="testimonial-img" alt="">
                <h3>John Larson</h3>
                <h4>Entrepreneur</h4>
                <p>
                  Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                </p>
              </div>

            </div>

          </div>
        </div>


      </div>
    </section><!-- #testimonials -->

    <!--==========================
      Team Section
    ============================-->
    <section id="team">
      <div class="container">
        <div class="section-header">
          <h3>Meet the team</h3>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 wow fadeInUp">
            <div class="member">
              <img src="{{ url_for('static', filename='img/team-1.jpg') }}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Viraj S Solanki</h4>
                  <span>Co-founder</span>
                  <div class="social">
                    <a href="https://twitter.com/virajssolanki?s=08" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.instagram.com/virajssolanki?r=nametag" target="_blank"><i class="fa fa-instagram"></i></a>
                    <a href="" target="_blank"><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="member">
              <img src="{{ url_for('static', filename='img/team-2.jpg') }}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Jaypalsinh Jadeja</h4>
                  <span>Co-founder</span>
                  <div class="social">
                    <a href="" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.instagram.com/jadeja_jaypalsinh?r=nametag" target="_blank"><i class="fa fa-instagram"></i></a>
                    <a href=""><i class="fa fa-linkedin" target="_blank"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #team -->

    <!--==========================
      Clients Section
    ============================-->
    <section id="clients" class="section-bg">

      <div class="container">

        <div class="section-header">
          <h3>Our CLients</h3>
        </div>

        <div class="row no-gutters clients-wrap clearfix wow fadeInUp">

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="{{ url_for('static', filename='img/clients/client-1.png') }}" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="{{ url_for('static', filename='img/clients/client-2.png') }}" class="img-fluid" alt="">
            </div>
          </div>
        
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="{{ url_for('static', filename='img/clients/client-3.png') }}" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="{{ url_for('static', filename='img/clients/client-4.png') }}" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="{{ url_for('static', filename='img/clients/client-5.png') }}" class="img-fluid" alt="">
            </div>
          </div>
        
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="{{ url_for('static', filename='img/clients/client-6.png') }}" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="{{ url_for('static', filename='img/clients/client-7.png') }}" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="{{ url_for('static', filename='img/clients/client-8.png') }}" class="img-fluid" alt="">
            </div>
          </div>

        </div>

      </div>

    </section>


  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-info">
            <h3>WeBuildWeb</h3>
            <p> We are on the mission to help brands make a strong online presence at LOWEST POSSIBLE PRICE.</p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
          <li><a href="#about">About Us</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="#contact">Contact Us</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              
              <strong>Phone:</strong> +91 7046717674<br>
              <strong>Email:</strong> virazssolanki@gmail.com<br>
            </p>

            <div class="social-links">
              <a href="#" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" target="_blank" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" target="_blank" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" target="_blank" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>
              Subcribe our newsletter to get updates about new offers at your inbox.
            </p>
            <form action="" method="post">
              <input type="email" placeholder="email"><input type="submit"  value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>WeBuildWeb</strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript Libraries -->
  <script src="{{ url_for('static', filename='lib/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/jquery/jquery-migrate.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/easing/easing.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/mobile-nav/mobile-nav.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/wow/wow.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/waypoints/waypoints.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/counterup/counterup.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/owlcarousel/owl.carousel.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/isotope/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/lightbox/js/lightbox.min.js') }}"></script>
  <!-- Contact Form JavaScript File -->
  <script src="{{ url_for('static', filename='contactform/contactform.js') }}"></script>

  <!-- Template Main Javascript File -->
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>